
html {
  position: relative;
  min-height: 100%;
  background-image: url('https://progra545857149.files.wordpress.com/2018/10/b4a0d-fondos2banimados2_zpsdbpvulbd.gif?w=640');
  background-size: auto;
}

body {
  padding-top: 40px;
  margin-bottom: 60px;
  
}

#content {
    margin-bottom: 25px;
}

.calculator {
    width:480px;
    height:auto;
    padding:10px 0;
    margin: auto;
    background:#bdc7ee;
    border:#000 4px solid;
    border-radius:7px;
    overflow: hidden;
    text-align: center;
}

.screen {
    width:424px;
    height:93px;
    margin: 12px auto 30px;
    padding:15px 10px;
    color:#02fe56;
    text-align: right;
    font-size: 3em;
    letter-spacing: 3px;
    overflow:hidden;
    border:#000 2px solid;
    border-radius:7px;
    box-sizing:border-box;
    background-color: black;
}

.buttons {
    padding:0;
    width:423px;
    margin:auto;
    overflow: hidden;
    list-style: none;
}

.buttons li {
     display:inline;
     float:left;
     padding:0px;
     margin-right:13px;
     margin-bottom:10px;
}

.buttons li:nth-child(4n) {
    margin-right:0;
}

.buttons a {
    display:block;
    width:95px;
    height:68px;
    padding:12px 0 12px;
    color:#c0c0c0 !important;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size:1.6em;
    font-weight: 500;
    letter-spacing: -2px;
    background-color:#2f2f2f;
    border: #000 1px solid;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    text-shadow:#000 0px -1px 0px;
    box-sizing:border-box;
    cursor: pointer;
}

.buttons a:active {
    box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
}

.clear{
    background-color: rgb(172, 8, 8) !important;
}

.tall {
    height:151px !important;
    background-color: green !important;
    justify-content: center !important;
    padding-top: 50px !important;
}

.wide {
    width:205px !important;
}

.shift {
    margin-top:-78px;
}